@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');


body{
    text-align: center;
    font-family:Arial;
}
.logo{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 45px;
    font-family: 'Pattaya', sans-serif;
}
input{
    outline: none;
    width: 30rem;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}
h2{
    padding: 1rem;
}
Button {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
Button:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
Button:active {
	position:relative;
	top:1px;
}

.errorBtn {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
    cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
    padding: 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.errorBtn:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.errorBtn:active {
	position:relative;
	top:1px;
}

.tickBtn {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, green 5%, lightgreen 100%);
	background-color:green;
	border-radius:3px;
	border: 1px solid black;
    cursor: pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
    margin-right: 0.5rem;
    padding: 4px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px black;
}
.tickBtn:hover {
	background:linear-gradient(to bottom,lightgreen 5%,green  100%);
	background-color:green;
}
.tickBtn:active {
	position:relative;
	top:1px;
}
.container{
    text-align: center;
}
.errorcontainer{
    color: white;
}
.errorMsg{
    width: 30rem;
}
.errorcontainer>p{
    padding: 6px;
}
.errorcontainer{
    margin: auto;
    width: 20rem;
}
.ListItem{
    height: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
}
.List{
    margin-top: 1rem;
    margin: auto;
    width: 45rem;
    background-color: #fdca40;
    border-radius: 5px;
    color: black;
    margin-bottom: 1rem;
}
.ListItem p{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
}